In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

### Task 1's model

In [2]:
data = pd.read_csv('Nat_Gas.csv')
data["Dates"] = pd.to_datetime(data.Dates)
# organize data in month/year
data['Month'] = [d.month for d in data.Dates]
data['Year']= [d.year for d in data.Dates]

/tmp/ipykernel_3681/969907587.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data["Dates"] = pd.to_datetime(data.Dates)

In [3]:
data["Time"] = range(len(data))
data["Month"] = data["Month"].astype("category")

model = smf.ols("Prices ~ Time + C(Month)", data=data).fit()

data["ANCOVA Prices"] = model.predict(data[["Prices","Month","Time"]])

In [4]:
# Get the last dates of the twelve next months

future_dates = pd.date_range(data["Dates"].iloc[-1] + pd.offsets.MonthEnd(),
                             periods=12, freq="ME")
future = pd.DataFrame({
    "Dates": future_dates,
    "Time": range(len(data), len(data) + 12),
    "Month": future_dates.month.astype("category")
})
future["Prices"] = model.predict(future)

In [5]:
full_data = pd.concat([data, future], axis = 0, ignore_index=True)

In [6]:
full_data

        Dates    Prices  Month    Year  Time  ANCOVA Prices
0  2020-10-31  10.10000     10  2020.0     0        9.93775
1  2020-11-30  10.30000     11  2020.0     1       10.51275
2  2020-12-31  11.00000     12  2020.0     2       10.88775
3  2021-01-31  10.90000      1  2021.0     3       10.96275
4  2021-02-28  10.90000      2  2021.0     4       10.88775
5  2021-03-31  10.90000      3  2021.0     5       10.96275
6  2021-04-30  10.40000      4  2021.0     6       10.36275
7  2021-05-31   9.84000      5  2021.0     7        9.97275
8  2021-06-30  10.00000      6  2021.0     8        9.88775
9  2021-07-31  10.10000      7  2021.0     9       10.08775
10 2021-08-31  10.30000      8  2021.0    10       10.01275
11 2021-09-30  10.20000      9  2021.0    11       10.26275
12 2021-10-31  10.10000     10  2021.0    12       10.47925
13 2021-11-30  11.20000     11  2021.0    13       11.05425
14 2021-12-31  11.40000     12  2021.0    14       11.42925
15 2022-01-31  11.50000      1  2022.0    15       11.50425
16 2022-02-28  11.80000      2  2022.0    16       11.42925
17 2022-03-31  11.50000      3  2022.0    17       11.50425
18 2022-04-30  10.70000      4  2022.0    18       10.90425
19 2022-05-31  10.70000      5  2022.0    19       10.51425
20 2022-06-30  10.40000      6  2022.0    20       10.42925
21 2022-07-31  10.50000      7  2022.0    21       10.62925
22 2022-08-31  10.40000      8  2022.0    22       10.55425
23 2022-09-30  10.80000      9  2022.0    23       10.80425
24 2022-10-31  11.00000     10  2022.0    24       11.02075
25 2022-11-30  11.60000     11  2022.0    25       11.59575
26 2022-12-31  11.60000     12  2022.0    26       11.97075
27 2023-01-31  12.10000      1  2023.0    27       12.04575
28 2023-02-28  11.70000      2  2023.0    28       11.97075
29 2023-03-31  12.00000      3  2023.0    29       12.04575
30 2023-04-30  11.50000      4  2023.0    30       11.44575
31 2023-05-31  11.20000      5  2023.0    31       11.05575
32 2023-06-30  10.90000      6  2023.0    32       10.97075
33 2023-07-31  11.40000      7  2023.0    33       11.17075
34 2023-08-31  11.10000      8  2023.0    34       11.09575
35 2023-09-30  11.50000      9  2023.0    35       11.34575
36 2023-10-31  11.80000     10  2023.0    36       11.56225
37 2023-11-30  12.20000     11  2023.0    37       12.13725
38 2023-12-31  12.80000     12  2023.0    38       12.51225
39 2024-01-31  12.60000      1  2024.0    39       12.58725
40 2024-02-29  12.40000      2  2024.0    40       12.51225
41 2024-03-31  12.70000      3  2024.0    41       12.58725
42 2024-04-30  12.10000      4  2024.0    42       11.98725
43 2024-05-31  11.40000      5  2024.0    43       11.59725
44 2024-06-30  11.50000      6  2024.0    44       11.51225
45 2024-07-31  11.60000      7  2024.0    45       11.71225
46 2024-08-31  11.50000      8  2024.0    46       11.63725
47 2024-09-30  11.80000      9  2024.0    47       11.88725
48 2024-10-31  12.10375     10     NaN    48            NaN
49 2024-11-30  12.67875     11     NaN    49            NaN
50 2024-12-31  13.05375     12     NaN    50            NaN
51 2025-01-31  13.12875      1     NaN    51            NaN
52 2025-02-28  13.05375      2     NaN    52            NaN
53 2025-03-31  13.12875      3     NaN    53            NaN
54 2025-04-30  12.52875      4     NaN    54            NaN
55 2025-05-31  12.13875      5     NaN    55            NaN
56 2025-06-30  12.05375      6     NaN    56            NaN
57 2025-07-31  12.25375      7     NaN    57            NaN
58 2025-08-31  12.17875      8     NaN    58            NaN
59 2025-09-30  12.42875      9     NaN    59            NaN

In [7]:
def right_price(date):
    """
    Return predict price if date out of the Nat_Gas dates range,
    otherwise return the real price mentioned in Nat_Gas'
    """
    return full_data[full_data['Dates'] == date]['Prices'].values[0]

In [8]:
def pricing(injection_dates, withdrawal_dates, injection_costs, gas_rate, max_volume, storage_costs):
    profit = 0
    for i in range(len(injection_dates)):
        date1, date2 = pd.to_datetime(injection_dates[i]), pd.to_datetime(withdrawal_dates[i])
        injection_price = right_price(date1)
        withdrawal_price = right_price(date2)

        months_stored = (date2.year - date1.year) * 12 + (date2.month - date1.month)
        total_injected = min(max_volume, months_stored * gas_rate)

        # It is said that:  injection/withdrawal cost, like having to pay the storage facility owner ... per 1 million MMBtu 
        total_injection_costs = injection_price * total_injected - (total_injected/1000000) * injection_costs
        sale_revenue = withdrawal_price * total_injected
        total_storage_costs = storage_costs * months_stored

        profit += sale_revenue - total_injection_costs - total_storage_costs

    return profit

In [9]:
pricing(['10/31/24'], ['2/28/25'], 10000, 1000000, 50000000, 100000)

np.float64(3440000.0)